<main>
    <label for="userinput">Insira sua pesquisa</label>
    <input (keyup.enter)="search()" type="text" id="userinput" name="userinput" [formControl]="userInput">
    <button type="submit" (click)="search()">{{label}}</button>

    <label for="maxresults">Resultados por página</label>
    <select [formControl]="maxResults" name="maxresults" id="maxresults">
        @for (option of paginationOptions.maxResults; track option) {
            <option [value]="option">{{option}}</option>
        }
    </select>

    @if(searchResult.items) {
        @for (item of searchResult.items; track item.id) {
            <app-book-view [data]="item"></app-book-view>
        }
    }
</main>